@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

body {
    background-image: url("https://images.unsplash.com/photo-1506377585622-bedcbb027afc?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=a9e6f90ef3dc023c4c40a78153993762");
    background-size: cover;
}

a {
    display: inline-block;
}

.content {
    width: 60%;
    margin: auto;
    /*   position: relative; */
}

/* .test {
  display: inline-block;
  overflow: hidden;
  position: relative;
} */

.podduck-bio-container {
    width: 60%;
    display: inline-block;
    float: left;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    margin: auto;
    margin-top: 120px;
}

.profile-image {
    width: 150px;
    height: 150px;
    background-image: url(http://i64.tinypic.com/35n66p0.jpg);
    background-size: cover;
    border-radius: 50%;
    top: -70px;
    margin: 0 auto;
    position: relative;
}

.name {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    line-height: 1.5;
    font-family: Montserrat;
    font-weight: 700;
    margin: 0;
    color: #333;
    text-align: center;
}

.podduck-bio {
    padding: 20px;
    font-family: Montserrat;
    font-size: 10pt;
    text-align: left;
}

.twitter-feed {
    width: 30%;
    display: inline-block;
    overflow: auto;
    margin-left: 10px;
    float: left;
    height: 100%;
    position: absolute;
    margin-top: 120px;
}

.social-links-container {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 50px;
    text-align: center;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #b6bbc4;
}
